    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div><h3 style="text-align: center; font-size:35px;">{{what}}</h3></div>
                <form method="post" enctype="multipart/form-data" action="{% url 'testapp:upload' %}"
                      class="table table-bordered form-horizontal" style="margin-top: 5%;margin-left: 35%;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="点击提交"
                           style="margin-left: 12%;margin-top: 3%;background-color: #00FF99;font-size: 25px;"/>
                </form>

            </div>

        </div>
    </div>